#songFooter {
    /* background-color: black; */
    background-image: linear-gradient(to bottom right, #932ac9, #bc47e3);
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    /* height: 30%; */
}

#collectionFooter {
    height: 15%;
    /* background-color: black; */
    background-image: linear-gradient(to bottom right, #932ac9, #bc47e3);
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: none;
    box-shadow: 0px -3px 9px #8a8a8a;
}