#songFooter, #collectionFooter {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#songFooter {
    /* height: 150px; */
}

#collectionFooter {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: none;
}

#logOutButton {
    color: white;
}