.collectionFooter {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#logOutButton {
    background-color: black;
    color: white;
    border: none;
}

/* newSongButton {
    margin-left: auto;
    margin-right: auto;
} */