@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto';
}

#songCollectionHeader {
    display: flex;
    justify-content: space-between;
}

#songCardContainer.item {
    background-color: lightgrey;
    padding: 0;
    margin: none;

}

.ui.menu {
    border: none;
}

.collectionFooter {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#logOutButton {
    background-color: black;
    color: white;
    border: none;
}


/* newSongButton {
    margin-left: auto;
    margin-right: auto;
} */